[submodule "packages/sparkcommerce-rest-routes"]
	path = packages/sparkcommerce-rest-routes
	url = git@github.com:rahat1994/sparkcommerce-rest-routes.git
[submodule "packages/sparkcommerce"]
	path = packages/sparkcommerce
	url = git@github.com:rahat1994/sparkCommerce.git
[submodule "packages/sparkcommerce-multivendor"]
	path = packages/sparkcommerce-multivendor
	url = git@github.com:rahat1994/sparkcommerce-multivendor.git
[submodule "packages/sparkcommerce-multivendor-rest-routes"]
	path = packages/sparkcommerce-multivendor-rest-routes
	url = git@github.com:rahat1994/sparkcommerce-multivendor-rest-routes.git
